<div class="container col-12 col-md-8">

    <h1>Contact</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque incidunt tempora voluptas nam hic eveniet.
        Deserunt nobis repellat culpa illum expedita voluptatem exercitationem magni? Voluptatem atque quae repellat
        maiores aperiam.</p>

</div>

<div class="container-sm bg-Light p-3 border border-light col-5 col-md-5">
    <form>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-3" style="padding-left:80px; padding-right: 0px;"><strong>Your
                    E-mail</strong></label>

            <div class="col-9">
                <input type="email" class="form-control " id="inputEmail3" placeholder="Your email">
            </div>

        </div>
        <div class="row mb-3 ">

            <label for="inputMessage3" class="col-3" style="padding-left: 60px; padding-right: 0px;" ><strong>Your Message</strong></label>

            <div class="col-9">

                <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea2"
                    style="height: 100px"></textarea>

            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">


            <button type="submit" class="btn btn-primary">Submit</button>
        </div>




    </form>

</div>