<div class="first_heading container bg-white py-5 mt-5">
    <div class="row">
        <div class="col-12 col-md-8">
                <h2 class=" fs-2">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eos quia, qui numquam repudiandae incidunt provident,voluptates, placeat aut iure blanditiis. Necessitatibus recusandae praesentium fuga soluta blanditiis omnis ut voluptatem.</p>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <img src="assets/img/1.jpg" class="rounded-circle" style="height:300px " alt="">
        </div>
    </div>
</div>
