<div class="container">
    <h1>Porfolio</h1>
    <p class="text-dark-emphasis fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores libero odit eius. Accusamus laborum officia libero omnis debitis aliquam itaque, dolore maxime sit ad ducimus harum cumque impedit ipsum atque.</p>
    <div class="row">
        <div class="col-4">
            <img src="./assets/img/big-project-image.png" class="mb-4" width="423" height="250">
            <h4 class="text-primary fw-medium">Project Name</h4>
            <p class="text-dark-emphasis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique ipsa nostrum ad temporibus assumenda. Saepe explicabo obcaecati aliquam officia.</p>
        </div>
        <div class="col-4">
            <img src="./assets/img/big-project-image.png" class="mb-4" width="423" height="250">
            <h4 class="text-primary fw-medium">Project Name</h4>
            <p class="text-dark-emphasis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique ipsa nostrum ad temporibus assumenda. Saepe explicabo obcaecati aliquam officia.</p>
        </div>
        <div class="col-4">
            <img src="./assets/img/big-project-image.png" class="mb-4" width="423" height="250">
            <h4 class="text-primary fw-medium">Project Name</h4>
            <p class="text-dark-emphasis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique ipsa nostrum ad temporibus assumenda. Saepe explicabo obcaecati aliquam officia.</p>
        </div>
</div>